@using Modelo;
@using System.Web.Script.Serialization;
@using Core.Serialization;

@{
    JavaScriptSerializer serialize = JsDateTimeSerializer.GetSerializer();
    Usuario entityUsuario = (Usuario)ViewData["User"];
    Questionario entityQuestionario = (Questionario)ViewData["Questionario"];
    List<UsuarioToQuestionario> listUsuarioToQuestionario = (List<UsuarioToQuestionario>)ViewData["UsuarioToQuestionario"];
    List<QuestaoToQuestionario> listQuestoes = (List<QuestaoToQuestionario>)ViewData["Questoes"];
    List<OpcaoRespostaToQuestionario> listOpcoesResposta = (List<OpcaoRespostaToQuestionario>)ViewData["OpcoesResposta"];

    Session["indice"] = 0;

    var Questoes = MvcHtmlString.Create(serialize.Serialize(listQuestoes.Select(q => new {q.idQuestao.Numero, q.idQuestao.Enunciado, q.idQuestaoToQuestionario})));
    var TotalQuestoes = listQuestoes.Count;
    var idUsuarioToQuestionario = MvcHtmlString.Create(serialize.Serialize(listUsuarioToQuestionario.Where(q => q.idQuestionario.IdQuestionario == entityQuestionario.IdQuestionario &&
                                                                                                           q.idUsuario.IdUsuario == entityUsuario.IdUsuario)
                                                                                                    .Select(q => new { q.IdUsuarioQuestionario })));
    var Questionario = MvcHtmlString.Create(serialize.Serialize(entityQuestionario.IdQuestionario));
    var sessaoUsuario = MvcHtmlString.Create(serialize.Serialize(entityUsuario.Login));
    var idUsuario = MvcHtmlString.Create(serialize.Serialize(entityUsuario.IdUsuario));
}
<link rel="stylesheet" type="text/css" href="/LPE/Content/css/FormResposta.css" />
    <div class="pageheader">
        <div class="iconCirculo small"></div>
        <div class="caminho"></div>
    </div>
    @*Criar tela de cadastro de Pessoas e controlar o fluxo para a resposta do questionario*@
    <div class="formBody">
        <div class="formTitle">
            <div class="iconCirculo"></div><p>Usuario</p>
        </div>
        <div id="dadosUsuario">
            <div id="campos">
                <div class="contentCampo">@entityUsuario.Pessoa_Usuario.NomePessoa @entityUsuario.Pessoa_Usuario.SobrenomePessoa</div>
                <div class="contentCampo">E-mail: @entityUsuario.Login</div>
                <div class="contentCampo">CPF: @entityUsuario.Pessoa_Usuario.CPFPessoa</div>
            </div>
        </div>
        <div id="msgConclusao" style="border: 0px solid black;">
            <div class="formTitle">
                <div class="iconCirculo"></div><p>Parabéns você concluiu o questionário com sucesso. <img src="/lpe/Content/imgs/check_32x26.png" /></p>
            </div>
            <div id="msgAviso" style="margin:10px 0px 30px 30px;">
                <p>Aguarde que entraremos em contato.</p><br/><p>Obrigado!</p>
            </div>
        </div>
        <div id="graphs_div">
            <div class="formTitle">
                <div class="iconCirculo"></div><p>Gráfico (Resultado)</p>
            </div>
            <div id="distributorGroupR_div" style="width: 700px; height: 10px; float:left;"></div>
        </div>
        <div id="DadosQuest">
            <div class="formTitle">
                <div class="iconCirculo"></div><p>Instruções</p>
            </div>
            <div id="instrucoes">
                @Html.Raw(entityQuestionario.Instrucao)
            </div>
            <div class="formTitle">
                <div class="iconCirculo"></div><p>Questionário</p>
            </div>
            <div id="questao"></div>
            <div id="opcaoResposta">
                @foreach (var opcaoResposta in listOpcoesResposta)
                { 
                    <input type="radio" id="resposta" name="resposta" style="float:left;" value="@opcaoResposta.IdOpcaoRespostaQuestionario"/>
                    <div id="textOpcaoResposta" style="margin-right:35px; margin-bottom:120px; float:left;">@opcaoResposta.idOpcaoResposta.Nome</div>
                }
            </div>
        </div>
    </div>
    <div id="action">
        <input id="btnAvancar" type="button" class="btavancar"/>
        @*<input id="backButton" type="button" value="Voltar" onclick="callBackButton('PessoaManager','List')" class="btback" />*@
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        $(".caminho").html($("#hidFolder").attr('value') + ' > ' + $("#hidMenu").attr('value'));

        var list = @Questoes;
        var cont = @Session["indice"];
        var concluido = 0;
        var listUserQuest = @idUsuarioToQuestionario;

        $('#resposta').attr('checked',false);
        $('#questao').html(list[cont].Numero+"."+list[cont].Enunciado);
        $('#loading').hide();
        $('#msgConclusao').hide();
        $("#graphs_div").hide();

        $('#btnAvancar').click(function () {
            /*if ($('#resposta').is(':checked') == false) {
                alert("É necessário preencher preencher uma das opções abaixo.");
            } 
            else {*/
                if (cont == @TotalQuestoes-1){
                    concluido = 1;
                }

                $('#loading').show();
                $('#resposta').attr('disabled', true);
            
                AjaxWaitRequest('#btnAvancar', {
                    url: "Resposta/Inserir",
                    data: {
                        Questao: list[cont].idQuestaoToQuestionario,
                        Resposta: $('#resposta:checked').val(),
                        Questionario: @Questionario,
                        UsuarioQuestionario: listUserQuest[0].IdUsuarioQuestionario,
                        Concluido: concluido 
                    },
                    success: function (data, text) {
                        if (data != "True") {
                            alert("Nao foi possivel enviar sua resposta. Dados:"+data);
                        }
                        else if (data = "True") {
                                if (cont < @TotalQuestoes-1){
                                    cont++;
                                    $('#questao').html(list[cont].Numero+"."+list[cont].Enunciado);
                                    $('#resposta').attr('disabled', false);
                                    $('#loading').hide();
                                    $('#resposta').attr('checked',false);
                                } else {
                                   $('#btnAvancar').hide();
                                   $('#Questionario').hide();
                                   $('#msgConclusao').show();
                                   $('#loading').hide();
                                   $('#DadosQuest').hide();
                                   callresultData(@Questionario, @idUsuario, true);
                                }
                        }
                    }
                });
            //};
        });        
    });

    function callresultData(idQuest, idUser) {
        //var COD = $(id).val();
        var loading = '<img src="/LPE/Content/imgs/ajax-loader.gif" alt="Carregando..."/>';

        $("#distributorGroupR_div").append(loading);
        
        drawGraphic(idQuest, idUser, 'GerarGrafico', 'distributorGroupR_div');

        $("#distributorGroupR_div").height(400);

        $("#graphs_div").show();
    }

</script>